

 <div id="main">
  <div class="container">
    <div class="row">
      <!-- About Me (Left Sidebar) Start -->
      <div class="col-md-3">
        <div class="about-fixed">
          <%= render "left_bar" %>
          </div>
      </div>

      <!-- Blog Post (Right Sidebar) Start -->
      <div class = "container" >
        <div class="col-md-9">
          <div class="col-md-12 page-body">
            <div class="row">
              <div class="sub-title">
                <h2>Create new Feed</h2>
                <%= render 'form', feed: @feed %>
                
               </div>
              <div class="col-md-12 content-page">
                
                
                <!-- Blog Post Start -->
                <p id="notice"><%= notice %></p>
                <h2>Posts</h2>
                <div>
                  
                </div>
                
                <div id="feeds">
                  <%= render @feeds %>
                </div>
                
                 
                 
                 <%= will_paginate(@feeds) %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>


