



 <div id="main">
  <div class="container">
    <div class="row">
      <!-- About Me (Left Sidebar) Start -->
      <div class="col-md-3">
        <div class="about-fixed">
          <div class="my-pic">
            <% if current_user.photo.attached? %>
              <%= image_tag(current_user.photo, style: 'width:100%') %>
            <% else %>
              <h5>Image not available</h5>
            <% end %>
                  
          </div>
        
          <div class="my-detail">
            <div class="white-spacing">
              <p>
                <strong>Name:</strong>
                <%= current_user.name %>
              </p>
              <p>
                <strong>Email:</strong>
                <%= current_user.email %>
              </p>

              <p>
                <strong>Wish me on:</strong>
                <%= current_user.DOB %>
              </p>

              <p>
                <strong>Gender:</strong>
                <%= current_user.Gender %>
              </p>
            </div> 
          </div>
        </div>
      </div>

      <!-- Blog Post (Right Sidebar) Start -->
      <div class="col-md-9">
        <div class="col-md-12 page-body">
          <div class="row">
            <div class="sub-title">
              <h2>Create new Feed</h2>
              <%= render 'form', feed: @feed %>
              
             </div>
            <div class="col-md-12 content-page">
              
              
              <!-- Blog Post Start -->
              <p id="notice"><%= notice %></p>
              <h2>Posts</h2>
              <div>
                
              </div>
              
              <div id="feeds">
                <%= render @feeds %>
              </div>
              
               
               
               <%= will_paginate(@feeds) %>
            </div>
            
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>


