<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @feed.post %>
</p>

<div style = "width:400px; height:auto">
  <% if @feed.image.attached? %>
    <%= image_tag(@feed.image, style: 'width:100%') %>
  <% else %>
    <h5>Image not available</h5>
  <% end %>
</div>

<p>
  <strong>Discription:</strong>
  <%= @feed.discription %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @feed.user %>
</p> -->

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
