<br>
<div id="main">
  <div class="container">
    <div class="row">
      <!-- About Me (Left Sidebar) Start -->
      <div class="col-md-3">
        <div class="about-fixed">
          <%= render "feeds/left_bar" %>
        </div>
      </div>
      <div class = "container" >
        <div class="col-md-9">
          <div class="col-md-12 page-body">
            <div class="row">
              <div class="sub-title">
                <h2>My Friends</h2>
              </div>
              <div class="col-md-12 content-page">
                
                <% @friends.each do |friends| %>
                  <div class="col-md-12 blog-post">
              
                    <% if friends.photo.attached? %>
                      <%= image_tag(friends.photo, style: 'width:10%') %>
                    <% end %>
                    
                    <div class="post-title">
                      <%= friends.name %>
                    </div>

                    <div class = "inline" >
                      
                      <%= link_to "Unfriend",friendship_path(friends.id), :method => :delete %>
                    </div>

                    <div class="post-title">
                      <%= friends.email %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div