  <br>
<div id="main">
  <div class="container">
    <div class="row">
      <!-- About Me (Left Sidebar) Start -->
      <div class="col-md-3">
        <div class="about-fixed">
          <%= render "feeds/left_bar" %>
        </div>
      </div>

      <div class="col-md-9">
        <div class="col-md-12 page-body">
          <div class="row">
              <%= form_tag user_index_path, :method => 'get' do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search" %>
              <% end %>
            <div class="col-md-12 content-page">
              <!-- Blog Post Start -->
              <% @user.each do |user|%>
                <div class="col-md-12 blog-post">
                    <% if user.photo.attached? %>
                    <%= image_tag(user.photo,style: 'float :right;width:10%') %>
                    <% end %>
                  <div class="post-title">
                    <%= user.email %><br>
                 
                    <%= status_checker(user,current_user) %>
                  </div>
 
                </div>
              <% end%>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


















<% @user.each do |user|%>

<% end%>